In [2]:
import pandas as pd
pd.read_csv('movies.csv')

   Rank                        Title  Gross (In crores)  Year
0     1  Baahubali 2: The Conclusion             1346.9  2018
1     2             K.G.F. Chapter 2              892.0  2022
2     3                          RRR              887.0  2022
3     4                      DangalÂ               511.3  2018
4     5                     Robo 2.0              508.5  2018
5     6     Baahubali: The Beginning              482.0  2017
6     7                           PK              445.0  2017
7     8            Avengers: Endgame              442.7  2019
8     9              Tiger Zinda Hai              434.7  2018
9    10                       Sanju               434.6  2019

In [ ]:
# Pandas will create its own numerical index, but we also suggest one index to pandas
pd.read_csv('movies.csv')